<header class="header-container">
    <div class="logo">
      <a href="#">
        <img src="https://cdn.pixabay.com/photo/2020/08/23/06/54/cooking-5510047_1280.png" alt="Restaurante Logo">
      </a>
    </div>
  
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a href="restaurante" aria-label="Restaurante">Restaurante</a></li>
        <li class="nav-item"><a href="chef" aria-label="Chef">Chef</a></li>
        <li class="nav-item"><a href="menu" aria-label="Menú">Menú</a></li>
        <li class="nav-item"><a href="reservas" aria-label="Reservas">Reservas</a></li>
      </ul>
    </nav>
  </header>
  